body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.side-panel {
    width: 150px;
    background-color: #f2f2f2;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.main-content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-content .main-header {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.main-content .header .create-button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.main-content .section {
    display: flex;
    justify-content: space-between;
}

.main-content .section .column {
    width: 300px;
    height: 500px;
    border: 2px solid #ddd;
    padding: 20px;
}

.main-content .section .column h3 {
    margin-top: 0;
}

.main-header .avatar {
    display: flex;
    align-items: right;
}

.main-header .avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
}

.main-header .avatar span {
    margin-left: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
}